<!doctype html>
<html lang="en" ng-app="shoppingApp">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="js/angular/angular.js" ></script>
    <script src="js/app.js" ></script>
    <script src="js/shoppingListService.js" ></script>
    <script src="js/ToBuyController.js"></script>
    <script src="js/AlreadyBoughtController.js" ></script>

  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buyModel">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in buyModel.items">Buy {{item.quantity}} {{item.name}} <button class="btn btn-default" ng-click="buyModel.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>

     </ul>
     <div ng-if="buyModel.items.length <1" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtModel">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtModel.items">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div ng-if="boughtModel.items<1" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
